<header class="w-full shadow-md font-semibold">
  <nav class="bg-white border-gray-200 py-2.5 dark:bg-gray-900">
    <div
      class="flex flex-wrap items-center justify-between max-w-screen-xl px-4 mx-auto"
    >
      <a routerLink="/" class="flex items-center">
        <img src="../../../assets/estate.png" class="h-16" alt="Logo" />
        <span
          class="self-center text-xl whitespace-nowrap dark:text-white font-bold"
        >
          AN
        </span>
      </a>
      <div class="flex items-center lg:order-2">
        <a
          *ngIf="!authService.isAuthenticated()"
          routerLink="/login"
          class="px-[15px] py-[0px] sm:px-[24px] border inline-flex items-center justify-center sm:bg-black sm:text-white rounded-full hover:shadow-lg h-[48px] font-bold mr-3"
        >
          <span class="sm:hidden">
            <i class="fas fa-sign-in"></i>
          </span>
          <p class="hidden sm:inline-flex">Log in</p>
        </a>

        <a
          *ngIf="!authService.isAuthenticated()"
          routerLink="/signup"
          class="px-[14px] py-[0px] sm:px-[24px] border inline-flex items-center justify-center sm:bg-black sm:text-white rounded-full hover:shadow-lg h-[48px] font-bold mr-3"
        >
          <span class="sm:hidden">
            <i class="fas fa-user-plus"></i>
          </span>

          <p class="hidden sm:inline-flex">Sign up</p>
        </a>

        <a
          *ngIf="authService.isAuthenticated()"
          routerLink="/addProperty"
          class="px-[13px] py-[0px] sm:px-[24px] border inline-flex items-center justify-center sm:bg-black sm:text-white rounded-full hover:shadow-lg h-[48px] font-bold mr-3"
        >
          <img
            class="w-[25px] h-[25px] sm:hidden"
            src="../../../assets/add-property.png"
            alt=""
          />
          <p class="hidden sm:inline-flex">Add Property</p>
        </a>

        <a
          *ngIf="authService.isAuthenticated()"
          routerLink="/profile"
          class="px-[18px] py-[0px] inline-flex items-center justify-center text-black sm:bg-black sm:text-white border rounded-full hover:shadow-lg h-[48px] font-bold mr-3"
        >
          <i class="fa-solid fa-user"></i>
        </a>

        <button
          (click)="toggleMobileMenu()"
          type="button"
          class="inline-flex items-center p-2 ml-1 text-sm rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          [attr.aria-expanded]="mobileMenuOpen"
        >
          <span class="sr-only bg-black">Open main menu</span>
          <svg
            class="w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
            ></path>
          </svg>
          <svg
            class="hidden w-6 h-6"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            ></path>
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full lg:flex lg:w-auto lg:order-1"
        [class.hidden]="!mobileMenuOpen"
      >
        <ul class="flex flex-col mt-4 lg:flex-row lg:space-x-8 lg:mt-0">
          <li>
            <a
              routerLink="/"
              class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:hover:text-gray-700 lg:border-0 lg:p-0"
              aria-current="page"
              >Home</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/']"
              fragment="servicesSection"
              class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:hover:text-gray-700 lg:border-0 lg:p-0"
              >Our Services</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/']"
              fragment="contactSection"
              class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:hover:text-gray-700 lg:border-0 lg:p-0"
              >Contact us</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/search']"
              [queryParams]="{ limit: 9, searchTerm: '' }"
              class="block py-2 pl-3 pr-4 text-black border-b border-gray-100 hover:bg-gray-50 lg:hover:bg-transparent lg:hover:text-gray-700 lg:border-0 lg:p-0"
              >Properties</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
